body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.calculator {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #e9e9e9;
}

@font-face {
    font-family: 'Digital-7';
    src: url("digitalism.ttf") format('truetype'); 
}
.panel {
    font-family: 'Digital-7', Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    font-size: 24px;
    background-color: #cfffec;
}
.button-number {
    font-size: 16px;
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    background-color: #93ff27;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button-number:hover {
    background-color: #00ff1a;
}
.button-number:active {
    background-color: #3e8e41;
}

.button {
    font-size: 16px;
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    background-color: #FC9DB8;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button:hover {
    background-color: #ff477b;
}
.button:active {
    background-color: #3e8e41;
}

.meaningless-button {
    font-size: 30px;
    width: 120px;
    height: 120px;
    margin: 5px;
    cursor: pointer;
    background-color: #FFD700; 
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.meaningless-button:hover {
    background-color: #FFC700;
}
.meaningless-button:active {
    background-color: #FFB700;
}

@keyframes rainbow {
    0% { background-color: #FFD700; } 
    20% { background-color: #FFA500; }
    40% { background-color: #FF0000; } 
    60% { background-color: #800080; }
    80% { background-color: #0000FF; } 
    100% { background-color: #00FF00; } 
}